button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px
  }

h1 {
    color: rgb(233, 52, 224)
}

img {
    max-width: 80%;
}

.cat-div {

}